body {
	background: url('pages_bw_blur.jpg') no-repeat fixed;
	background-size: cover;
}
header, nav, main {
	display: flex;
	justify-content: center;
}
#title {
	background: linear-gradient(to right,blue, white 20%, white 30%, red 90%);
	opacity: 0.8;
	text-align: center;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	width: 840px;
	position: relative;
}
.stars {
	position: absolute;
	top: 10px;
	right: 10px;
}
nav > * {
	background: #333;
	opacity: 0.8;
	color: white;
	text-align: center;
	padding: 20px 10px;
	margin: 10px;
	width: 180px;
	cursor: pointer;
	border-radius: 10px;
}
nav > :hover {
	background: #444;
}
nav > .on {
	background: white;
	color: black;
}
nav > .on:hover {
	cursor: auto;
}
main > * {
	background: white;
	opacity: 0.85;
	margin: 10px;
	padding: 30px;
	width: 800px;
}
section {
	display: none;
	line-height: 36px;
}
section#home {
	display: block;
}
.left {
	width: 65%;
	float: left;
	text-align: center;
}
.right {
	width: 65%;
	float: right;
	text-align: center;
}
.xiaosi {
	float: right;
}
.tibo {
	float: left;
}
section > ul {
	list-style: square;
	padding-left: 25px;
}
ul > ul {
	list-style: circle;
}
ul > ul > li {
	line-height: 24px;
}
section#contact {
	text-align: center;
}
footer {
	text-align: center;
	margin: 3px;
}
footer > * {
	display: inline;
	color: white;
	background: #333;
	opacity: 0.8;
	text-decoration: none;
	text-align: center;
	padding: 3px 5px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
}
footer > :hover {
	background: #444;
}
footer > .on {
	background: white;
	color: black;
}
footer > .on:hover {
	cursor: auto;
}
