@import 'main.css';

* {
	font-family: 'Microsoft Yahei','微软雅黑',Tahoma,sans-serif;
}
header {
	letter-spacing: 5px;
}
nav {
	font-size: 20px;
}
main,footer {
	font-size: 16px;
}
ul > ul > li {
	font-size: 14px;
}
