<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='' content=''>
		<title>Traduction Fr-Cn Cn-Fr, cours de français en ligne</title>
		<link rel='stylesheet' href='{{ url_for("static",filename="css.css") }}'>
		<script src='https://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js'></script>
		<script src='{{ url_for("static",filename="js.js") }}'></script>
	</head>

	<body>
		<header>
			<div id='title'>
				<h1>Traduction Fr-Cn, Cn-Fr<br/>
					Cours de français en ligne</h1>
				</h1>
				<img class='stars' src='{{ url_for("static",filename="stars.png") }}'>
			</div>
		</header>
		<nav>
			<span id='home' class='on'>Accueil</span>
			<span id='translate'>Traduction</span>
			<span id='teach'>Cours</span>
			<span id='contact'>Contact</span>
		</nav>
		<main>
			<section id='home' class='on'>
				<p class='left'><br/>Bienvenue chez Léa Wu et Thibaut Deduit, professeurs et traducteurs à Shenyang depuis fin 2013.<br/><br/></p>
				<img class='xiaosi' src='{{ url_for("static",filename="xiaosi.jpg") }}'>
				<img class='tibo' src='{{ url_for("static",filename="tibo.jpg") }}'>
				<p class='right'><br/>Nous sommes à votre service pour vos besoins en traduction et cours de français.</p>
			</section>
			<section id='translate'>
				<p>Notre expérience :</p>
					<ul>
						<li><i>Histoire naturelle des oiseaux d'Afrique</i> de François Levaillant</li>
						<ul>
							<li class='small'>Environ 179 213 caractères (chinois)</li>
							<li class='small'>Français relativement classique (1799)</li>
							<li class='small'>Outre la traduction, travail important de recherche pour les aspects historique, géographique et scientifique de l'oeuvre</li>
						</ul><br/>
						<li>Documents officiels : diplômes, contrats de coentreprise, actes de cession, etc.</li>
						<li>Sous-titrage français et chinois</li>
						<li>Divers articles d'actualités scientifiques</li>
					</ul>
			</section>
			<section id='teach'>
				<p>Notre expérience :</p>
					<ul>
						<li>Professeur de français en écoles de langues et en agences</li>
						<ul>
							<li class='small'>Décembre 2013 - octobre 2014 à 冠亚法语 : classes de 1 à 3 élèves, niveaux CECR A1-B1, cours classiques et pratique de l'oral</li>
							<li class='small'>Mars 2014 - juin 2014 à 沈阳体育学院 : 2 classes d'une vingtaine d'élèves chacune, A1-B1, cours d'oral en préparation d'un programme d'échange</li>
							<li class='small'>Mai 2014 - juillet 2015 à 金矢留学 : classes de 1 à 8 élèves, A1-B1, cours classiques, cours d'oral, préparation d'examens et d'entretiens de visa</li>
							<li class='small'>Août 2015 - octobre 2016 à 弗朗斯法语 : classes de 1 à 9 élèves, A1-C1, cours classiques, cours d'oral, préparation d'entretiens</li>
						</ul><br/>
						<li>Cours particuliers, à domicile et en ligne (via Skype, WeChat, QQ), tous types de cours, de 10 à 65 ans, A1 à C2</li>
					</ul>
				<p>Au total, plus de 2500 heures d'enseignement</p>
			</section>
			<section id='contact'>
				<p><b>WeChat</b><br/>Thibaut-Si</p>
				<p><b>QQ</b><br/>411658819</p>
				<p><b>E-mail</b><br/>leasi0510@gmail.com</p>
			</section>
		</main>
		<aside>
			<a id='cn' href='{{ url_for("zh") }}'>CN</a>
			<span id='fr' class='on'>FR</span>
		</aside>
	</body>
</html>
