<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='' content=''>
		<title>中法互译——在线法语课程</title>
		<link rel='stylesheet' href='{{ url_for("static",filename="css.css") }}'>
		<!--<link href='//cdn.webfont.youziku.com/webfonts/nomal/95591/19673/58403c5df629d80748ce1c77.css' rel='stylesheet' type='text/css' />-->
		<link href='//cdn.webfont.youziku.com/webfonts/nomal/95591/19493/584b68c7f629d8126c7be394.css' rel='stylesheet' type='text/css' />
		<script src='https://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js'></script>
		<script src='{{ url_for("static",filename="js.js") }}'></script>
	</head>

	<body>
		<header>
			<div id='title'>
				<h1>中法互译<br/>
					在线法语课程</h1>
				<img src='{{ url_for("static",filename="stars.png") }}'>
			</div>
		</header>
		<nav>
			<span id='home' class='on'>主页</span>
			<span id='translate'>中法互译</span>
			<span id='teach'>法语课程</span>
			<span id='contact'>联系我们</span>
		</nav>
		<main>
			<div> <!--necessary ?-->
				<section id='home'>
					<p>欢迎来到我们的网站！</p>
					<p>我们是武晓偲（Léa）和 Thibaut Deduit（狄波），2013年起在沈阳工作生活的跨国组合。</p>
					<p>我们将以出色的能力和丰富的经验为您提供中法互译和法语课程服务。</p>
				</section>
				<section id='translate'>
					<p>我们在该领域的工作经验如下：</p>
						<ul>
							<li>18世纪末期 François Levaillant 的自然学巨著《非洲鸟类史》中译本（约179213字）</li>
							<li>各种类型证明文件、合同资料（合资企业文件、股份转让函等）的翻译</li>
							<li>科技类文献</li>
						</ul>
				</section>
				<section id='teach'>
					<p>我们在该领域的工作经验如下：</p>
						<ul>
							<li>曾在冠亚法语、弗朗斯法语、加中法语等教育机构任教</li>
							<li>开展一对一私教课，面对面授课或在线通过QQ、微信、Skype网络授课</li>
						</ul>
					<p>有超过2500小时的授课经验</p>
					<p>对下至10岁，上至65岁，法语等级从A1到C2的学生都有着丰富的教学经验</p>
								2013年11月~2016年11月 法语私教 A1至C1级别学生
								2015年8月~2016年10月 弗朗斯法语 1到9人小班授课
								2014年5月~2015年7月 金矢留学 1到8人小班授课
								2014年9月~2015年1月 沈阳体育学院 15人法国交流项目预备班
								2013 年12月~2014年10月 冠亚法语 1到3人小班授课
				</section>
				<section id='contact'>
					<table>
						<tr>
							<td>微信</td>
							<td>Thibaut-Si</td>
						</tr>
						<tr>
							<td>QQ</td>
							<td>411658819</td>
						</tr>
						<tr>
							<td>邮箱</td>
							<td>leasi0510@gmail.com</td>
						</tr>
					</table>
				</section>
			</div>
		</main>
		<aside>
			<a id='fr' href='{{ url_for("fr") }}'>FR</a>
			<span id='zh' class='on'>CN</span>
		</aside>
	</body>
</html>
